---
interface Props {
  path: string[];
}

const { path } = Astro.props;
---

<div class="navbar bg-base-100 border-t-2 border-base-200">
  <div class="breadcrumbs ml-4">
    <ul>
      {
        path.map((p) => (
          <li>
            <a href={`/${p}`}>{p}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
