---
import SunIcon from "../icons/SunIcon.astro";
import MoonIcon from "../icons/MoonIcon.astro";
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Procon Viewer</a>
  </div>
  <div class="flex-none gap-4 mr-4">
    <label class="swap swap-rotate">
      <input type="checkbox" id="theme-toggle" />
      <div class="swap-on w-8 h-8">
        <SunIcon />
      </div>
      <div class="swap-off w-8 h-8">
        <MoonIcon />
      </div>
    </label>
  </div>
</div>

<script>
  const getTheme = (): "dark" | "light" => {
    const localTheme = localStorage.getItem("theme");
    if (!localTheme || !(localTheme === "dark" || localTheme === "light")) {
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    return localTheme;
  };

  const setThemeData = (theme: "dark" | "light") => {
    document.querySelector("html")?.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  };

  const onClickThemeToggle = () => {
    const localTheme = getTheme() === "light" ? "dark" : "light";
    setThemeData(localTheme);
  };

  setThemeData(getTheme());
  document
    .getElementById("theme-toggle")
    ?.addEventListener("change", onClickThemeToggle);
</script>
