---
import { MarkdownHeading } from "astro";
interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<aside class="toc">
  <ol class="toc-level-0">
    {
      headings
        .filter((h) => h.depth < 3)
        .map((h) => {
          return (
            <li class={`toc-level-${h.depth} toc-item`}>
              <a href={`#${h.slug}`}>{h.text}</a>
            </li>
          );
        })
    }
  </ol>
</aside>
