---
import type { MarkdownHeading } from "astro";
interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div>
  <aside class="bg-base-200 p-4 rounded-2xl sticky top-4">
    <span class="text-xl">Index</span>
    <ol class="mt-4">
      {
        headings
          .filter((h) => h.depth < 5)
          .map((h) => {
            return (
              <li class={`toc-level-${h.depth} toc-item`}>
                <a href={`#${h.slug}`}>{h.text}</a>
              </li>
            );
          })
      }
    </ol>
  </aside>
</div>
