---
interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
import NavBar from "../components/NavBar.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import Article from "../components/Article.astro";
---

<html>
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <NavBar />
    <ArticleHeader title={frontmatter.title} />
    <div class="flex lg:flex-col justify-center items-center">
      <Article>
        <slot />
      </Article>
    </div>
  </body>
</html>
